body{
    background-image: url('fundo.png') !important;
    background-size: cover;
}

a{
    text-decoration: none !important;
    color: white !important;
}

#login-screen{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*agenda estilo*/
.calendar {
    max-width: 400px;
    margin: auto;
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #ddd;
}
th {
    background-color: #f8f9fa;
    font-weight: bold;
}
.today {
    background-color: green !important;
    color: white !important;
    font-weight: bold;
}




/*agenda 2 estilo*/ 
.time-slot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.available {
    background-color: green;
    color: white;
}
.unavailable {
    background-color: gray;
    color: white;
}
.legend {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.legend div {
    display: flex;
    align-items: center;
}
.legend span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
.lock-icon {
    font-size: 1.2rem;
    margin-left: 10px;
}